mat-card-title {
  font-size: 1.4em !important;
  margin-bottom: 1em !important;
}

mat-card {
  margin-top: 1em;
}

.login-card {
  text-align: center;
  max-width: 350px;
  margin: 75px auto 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-card span.error {
  font-size: 1.1em;
  font-weight: 500;
  color: #8b0000;
}
