@import "login.css";
@import "sidenav.css";
@import "../fontawesome/css/all.css";
@import "error.css";
@import "user-info.css";
@import "home.css";
@import "release-note.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-container {
  position: fixed;
  height: 300px;
  width: 345px;
  display: flex;
  background: white;
  margin-top: 70px;
  z-index: 1;
  opacity: 0.5;
  justify-content: center;
}

.main-container {
  display: flex !important;
  flex-direction: column !important;
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1.3em;
  border-top: 1px solid #673ab7;
}

footer div {
  width: 50%;
}

#sx {
  text-align: left;
  border-right: 1px solid #673ab7;
}

#dx {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-image {
  width: 15%;
}

.footerText {
  text-align: center;
  color: #673ab7;
  font-weight: 400;
  font-size: 0.8em;
}

/* override per tenere il footer sempre in basso nella pagina */
.mat-drawer-content {
  display: flex !important;
  flex-direction: column !important;
}
